@model _92031083_ModelRailStore.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
<div class="bg-image">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
    @Html.AntiForgeryToken()
    <h4 class="sidebar-left lg-boldtext">Reset your password</h4>
    <div class="row"></div>
    <hr />
    @Html.ValidationSummary("", new { @class = "sidebar-right warn-message" })
    @Html.HiddenFor(model => model.Code)

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control user-input", @placeholder = "Email" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control user-input", @placeholder = "New Password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control user-input", @placeholder = "Confirm Password" })
        </div>
    </div>
        <div class="form-group">
        <div class="login-option col-md-10">
            <input type="image" src="/content/siteimages/reset.png" alt="login btn" value="Log in" width="120" height="70" />
        </div>
    </div>
    }
</div>
<div class="row"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
