@model _92031083_ModelRailStore.Models.ProductImage

@{
    ViewBag.Title = "Upload Product Image";
}

<h4 class="sidebar-left">@ViewBag.Title</h4>
<div class="row"></div>

@using (Html.BeginForm("Upload", "ProductImages", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="files" id="files" multiple="multiple" class="form-control" />
                @*@Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <h2 class="with-highlight">@Html.ActionLink("Back to List", "Index")</h2>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
