@model IEnumerable<_92031083_ModelRailStore.Models.ApplicationUser>
@{
    ViewBag.Title = "Users Administrator";
}

<h4 class="sidebar-left">@ViewBag.Title</h4>
<div class="row"></div>
    <h2 class="with-highlight">@Html.ActionLink("Create new", "Create")</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName);
            </th>
            <th>

            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <h5 class="sidebar-left admin-edit">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</h5>
                    <h5 class="sidebar-left admin-details">@Html.ActionLink("Details", "Details", new { id = item.Id })</h5>
                </td>
            </tr>
        }
    </table>

